@use './sem-preferencia-de-movimento-reduzido' as sem-movimento;

@mixin brilho-card($animado: false) {
  position: relative;
  z-index: 0;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--brilho-card);
    pointer-events: none;
    z-index: 0;
    height: 12rem;

    @if $animado {
      @include sem-movimento.sem-preferencia-de-movimento-reduzido {
        animation: brilho-card-passar 5s ease-in-out infinite;
      }

      @keyframes brilho-card-passar {
        0% {transform: translateX(-120%) rotate(45deg);}
        100% {transform: translateX(120%) rotate(45deg);}
      }
    }
  }
}
